# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Output directory
output/

# Data files
connections.csv

lib/
